addict
albumentations
colorlog
Flask
Flask_Cors
gunicorn
ipdb
jsonlines
matplotlib
numpy
opencv_python
pandas
Pillow
pycocotools
PyYAML==6.0.2
scipy
seaborn
setuptools
strawberry-graphql
supervision==0.25.1
termcolor
timm
torch
torchvision
transformers
Werkzeug
yapf==0.40.1
